*.pyc
*.orig
*.log
.DS_Store
*~
.coverage
coverage.xml
test-report.xml
\#*\#
*.bak
.project
.settings
.pydevproject
_build
*.egg-info
dist
build
#PyCharm
*.idea

# Test project directory
networkapi_test_project
Pipfile
Pipfile.lock
